<div class="row" *ngIf="hotel$ | async as hotel">
  <div class="hotel-item">
    <div class="col-md-4 col-img">
      <img src="/assets/images/hotels/{{hotel.image}}" alt="..."/>
    </div>
    <div class="col-md-4 col-data">
      <div class="hotel-name">{{hotel.name}}</div>
      <div class="rating">
        <div *ngFor="let i of [0, 1, 2, 3, 4, 5] | slice:0:hotel.stars" class="star">
          <span class="fa fa-star"></span>
        </div>
      </div>
      <div class="amenities">
        <div *ngFor="let amenitie of hotel.amenities" class="amenitie">
          <img src="/assets/icons/amenities/{{amenitie}}.svg" alt="..."/>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-price">
      <div class="hotel-price-label">Precio por noche por habitación</div>
      <div class="hotel-price"><span>ARS</span> {{hotel.price}}</div>
    </div>
  </div>
</div>