.row{
    padding-bottom: 16px;
}

h3{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.btn-link{
    color: #0679B3;
}
.btn-link .fa{
    color: #0679B3;
}

.checkbox .fa.fa-star{
    display: inline-block;
    color: #FFBB00;
}

.card{
    background-color: #fff;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    cursor: pointer;
    margin-bottom: 1px;
    width: 100%;
    padding: 10px;
}

.btn-primary {
    font-size: 18px;
    background-color: #002A79;
    border-color: #002A79;
}

#accordion img{
    width: 20px;
    height: 20px;
    margin: 3px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .col-md-8, col-md-4{
        padding: 0;
    }

}
