<div class="row">
  <div class="col-md-12">
    <form [formGroup]="filterForm" (ngSubmit)="onFormSubmit()">
      <div class="card">
        <div class="card-header">
          <h2>Filtros</h2>
        </div>
      </div>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <a class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span class="fa fa-search"></span> Nombre del hotel
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

            <div class="col-md-8">
              <input class="form-control" formControlName="name" placeholder="Ingrese el nombre del hotel" >
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn-primary">Aceptar</button>
            </div>

          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class="fa fa-star"></span> Estrellas
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="checkbox">
                <label class="center-block">
                  <input type="checkbox" formControlName="allstars">Todas las estrellas
                </label>
              </div>
              <div class="checkbox">
                <label class="center-block">
                  <input type="checkbox" formControlName="star5"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                </label>
              </div>
              <div class="checkbox">
                <label class="center-block">
                  <input type="checkbox" formControlName="star4"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                </label>
              </div>
              <div class="checkbox">
                <label class="center-block">
                  <input type="checkbox" formControlName="star3"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                </label>
              </div>
              <div class="checkbox">
                <label class="center-block">
                  <input type="checkbox" formControlName="star2"><span class="fa fa-star"></span><span class="fa fa-star"></span>
                </label>
              </div>
              <div class="checkbox">
                <label class="center-block">
                  <input type="checkbox" formControlName="star1"><span class="fa fa-star"></span>
                </label>
              </div>

            </div>
          </div>
        </div>

      </div>




    </form>
  </div>
</div>
