.container {
    width: 100%;
    padding: 0;
}

#header{
    background-color: #0C3C7F;
    height: 56px;
    padding: 0 0 0 10px;
    margin: 0;
    line-height: 56px;
}

#main-page{
    background-color: #F4F4F4;
    max-width: 2475px;
    padding: 16px;
    margin: 0 auto;
    min-height: 100vh;
}
