<div class="container">
    <div class="row" id="header">
        <div class="col-md-12">
            <img src="/assets/images/logo-almundo.svg" alt="..."/>
        </div>
    </div>

    <div class="row" id="main-page">
        <router-outlet></router-outlet>
    </div>
</div>
