.row {
    margin-right: 0;
    margin-left: 0;
}



.hotel-list-item{
    background-color: #fff;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    cursor: pointer;
    margin-bottom: 16px;
    padding: 16px;
    width: 100%;
}

.hotel-list-item:hover {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.3);
}

.col-img img{
    width: 100%;
}

.star{
    display: inline-block;
    color: #FFBB00;
}

.amenitie{
    display: inline-block;
}

.amenitie img{
    width: 20px;
    height: 20px;
    margin: 3px;
}

.col-price{
    text-align: center;
    vertical-align: top;
    padding-top: 20px;
}

.hotel-name{
    color: #0679B3;
    font-size: 20px;
}

.hotel-price-label{
    color: #464646;
    max-width: 150px;
    margin: 0 auto;
}

.hotel-price{
    color: #E16800;
    font-size: 30px;
    font-weight: 800;
    padding: 5px 0 5px 0;
}

.hotel-price span{
    font-size: 20px;
    font-weight: 400;
}

.btn-primary {
    width: 170px;
    font-size: 25px;
    background-color: #002A79;
    border-color: #002A79;
}


.hotel-list-item .col-md-4{
    padding: 0;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .col-data{
        width: calc(100% - 570px);
        margin-left: 16px;
    }

    .col-img{
        width: 272px;
    }

    .col-img img{
        width: 272px;
        height: 184px;
        padding: 0;
    }

    .col-price{
        border-left: 1px dashed #ccc;
        width: 280px;
        min-height: 184px;
    }

}
